{% extends 'base.html' %}
{% load buttons %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}

{% block header %}
    <div class="row">
        <div class="col">
            <ol class="breadcrumb">
                <li><a href="{% url 'plugins:nautobot_bgp_models:bgproutinginstance_list' %}">BGP Routing Instances</a></li>
                <li>{{ object }}</li>
            </ol>
        </div>
    </div>
    <div class="pull-right noprint">
        {% plugin_buttons object %}
        {% if perms.nautobot_bgp_models.change_bgproutinginstance %}
            {% edit_button object %}
        {% endif %}
        {% if perms.nautobot_bgp_models.delete_bgproutinginstance %}
            {% delete_button object %}
        {% endif %}
    </div>
    <h1>{{ object }}</h1>
    {% include 'inc/created_updated.html' %}
    <div class="pull-right noprint">
        {% custom_links object %}
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"{% if not active_tab %} class="active"{% endif %}>
            <a href="{{ object.get_absolute_url }}">BGP Routing Instance</a>
        </li>
        {% if perms.extras.view_objectchange %}
            <li role="presentation"{% if active_tab == 'changelog' %} class="active"{% endif %}>
                <a href="{% url 'plugins:nautobot_bgp_models:bgproutinginstance_changelog' pk=object.pk %}">Change Log</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>BGP Routing Instance</strong>
                </div>
                <table class="table table-hover panel-body attr-table">
                    <tr>
                        <td>Device</td>
                        <td><a href="{{ object.peer_group.get_absolute_url }}">{{ object.device }}</a></td>
                    </tr>
                    <tr>
                        <td>Router ID</td>
                        <td>
                            {% if object.router_id %}
                                <a href="{{ object.router_id.get_absolute_url }}">{{ object.router_id }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Autonomous System</td>
                        <td>
                            {% if object.autonomous_system %}
                                <a href="{{ object.autonomous_system.get_absolute_url }}">{{ object.autonomous_system }}</a>
                            {% else %}
                                <span class="text-muted">None</span>
                            {% endif %}
                        </td>
                    </tr>
                    <!-- TODO fill in other fields here -->
                </table>
            </div>
            {% include 'inc/custom_fields_panel.html' %}
            {% include 'inc/relationships_panel.html' %}
            {% include 'extras/inc/tags_panel.html' with tags=object.tags.all url='plugins:nautobot_bgp_models:bgproutinginstance_list' %}
            {% plugin_left_page object %}
        </div>
        <div class="col-md-6">
            {% plugin_right_page object %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {% plugin_full_width_page object %}
        </div>
    </div>
{% endblock %}
